.wpcf7-form input {
    border-radius:6px;                  /* Makes the edges rounded */
    }
    .wpcf7-form textarea {
    border-radius:6px;          /* Makes the edges rounded */
    }
    .wpcf7-form .wpcf7-submit {     
    background:#00a6ca;         /* This edit the button colour */
    }
    .wpcf7 .wpcf7-text,
    .wpcf7 .wpcf7-textarea{
      text-indent: 45px;
    }
    .wpcf7 p{ position: relative; }
    .wpcf7 p .fa{
      position: absolute;
      color: #666666;
      z-index: 100;
      font-size: 18px;
      top: 28%;
      left: 1.5%;
    }
.wpcf7 p .fa-pencil{ top: 5%; left: 1.5%}

input{
    height: 50px;
}
.form-box{
  position: relative;
  width: 100%;
  height: 1486px;
}

.col-xs-2{
    background:#00f;
    color:#FFF;
}
.col-half-offset{
    margin-left:4.166666667%
}